@font-face {
    font-family: OpenSans400;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans700;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}


html {
	font-family: OpenSans400;
}


body {
	margin: 0;
}


@media (min-width: 961px) {
	.header {
      background-image: url(../images/football_1920.jpg);
    }
}

@media (min-width: 641px) and (max-width: 960px) {
	.header {
      background-image: url(../images/football_1280.jpg);
    }
}

@media (max-width: 640px) {
	.header {
      background-image: url(../images/football_767.jpg);
    }
}


.header {
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  background-color: #000;

  min-height: 100vh;
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
}

.header::before {
	content: "";
	background-color: #0a0e34;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.9;

}


.site_logo {
	display: block;
	width: 190px;
	margin-right: auto;
	margin-left: auto;
	
	padding-top: 45px;
	
	position: relative;
}



.header_container {
	width: 1560px;
	box-sizing: border-box;
    color: #fff;
	text-transform: uppercase;

	position: relative;
	margin-top: 290px;
}


.main_heading_up {
	font-size: 90px;
	font-family: OpenSans700;
   
   margin: 0;
}

.main_heading_down {
	font-size: 90px;
	font-family: OpenSans700;

    margin-top: 0;
    padding-right: 1%;
    float: right;
}